In [1]:
#https://www.youtube.com/watch?v=kMJDsh0TCik
#https://github.com/Syukrondzeko/Python-Tutorial/blob/master/Sentiment_TF_IDF.ipynb

import pandas as pd
import string, re
import unidecode

In [2]:
df = pd.read_csv("C:/Users/mirah/OneDrive/TA/DATAWITHSENTIMENT.csv")

In [3]:
df

                                                  Tweet  Sentiment
0     @Adiiiinnnnnn Harusnya adik2 juga mengapresias...          0
1     Siapa yang bangun tidur masih terharu sekarang...          1
2     Still astonished and thrilled about the Indone...          1
3              @nyambeksyariah harus lawan pake UU TPKS          1
4     Saksikan Perjuangan DPR RI bersama Rakyat untu...          1
...                                                 ...        ...
5481  Ketua DPR Puan Maharani mendapat penghargaan t...          1
5482  Tindak Pidana Kekerasan Seksual (RUU TPKS) men...          1
5483  Saat pengesahan Puan menangis Karena Undang-Un...          1
5484  Salah satu poin penolakan PKS adalah agar RUU ...          0
5485  Keberhasilan Puan tak diragukan lagi ,dengan k...          1

[5486 rows x 2 columns]

In [4]:
df['Sentiment'].value_counts()

1    5091
0     395
Name: Sentiment, dtype: int64

In [5]:
#cleansing data
def cleansing(data):
    #hapus https
    data = re.sub(r'http\S+', '', data)
    data = re.sub(r"\ [A-Za-z]*\.com", " ", data)
    data = re.sub(r'\d+', '', data)
    
    # hapus punctuation
    remove = string.punctuation
    translator = str.maketrans(remove, ' '*len(remove))
    data = data.translate(translator)
    
    # remove ASCII dan unicode
    data = data.encode('ascii', 'ignore').decode('utf-8')
    data = re.sub(r'[^\x00-\x7f]',r'', data)
    
    # remove newline
    data = data.replace('\\n', ' ').replace('\n', ' ').replace('\t',' ').replace('\\', ' ').replace('. com', '.com')
    
    #hapus whitespace
    pattern = re.compile(r'\s+') 
    data = re.sub(pattern, ' ', data)
    # There are some instances where there is no space after '?' & ')', 
    # So I am replacing these with one space so that It will not consider two words as one token.
    data = data.replace('?', ' ? ').replace(')', ') ')
    
    # # this is a docstring
    """
    The function will remove accented characters from the 
    text contained within the Dataset.
       
    arguments:
        input_text: "text" of type "String". 
                    
    return:
        value: "text" with removed accented characters.
        
    Example:
    Input : Málaga, àéêöhello
    Output : Malaga, aeeohello    
        
    """
    # Remove accented characters from text using unidecode.
    # Unidecode() - It takes unicode data & tries to represent it to ASCII characters. 
    data = unidecode.unidecode(data)
    
    return data

# jalankan cleansing data
review = []
for index, row in df.iterrows():
    review.append(cleansing(row["Tweet"]))
    
df["Tweet"] = review
df.head()

                                               Tweet  Sentiment
0   Adiiiinnnnnn Harusnya adik juga mengapresiasi...          0
1  Siapa yang bangun tidur masih terharu sekarang...          1
2  Still astonished and thrilled about the Indone...          1
3            nyambeksyariah harus lawan pake UU TPKS          1
4  Saksikan Perjuangan DPR RI bersama Rakyat untu...          1

In [6]:
df.to_csv(r'C:/Users/mirah/OneDrive/TA/aftercleansing.csv', index=False)

In [7]:
df[:20]

                                                Tweet  Sentiment
0    Adiiiinnnnnn Harusnya adik juga mengapresiasi...          0
1   Siapa yang bangun tidur masih terharu sekarang...          1
2   Still astonished and thrilled about the Indone...          1
3             nyambeksyariah harus lawan pake UU TPKS          1
4   Saksikan Perjuangan DPR RI bersama Rakyat untu...          1
5    KompasTV UU TPKS sudah berlaku hukum seberat ...          1
6   Aktivis Perempuan Kelompok Cipayung Maluku Sor...          1
7                        Mau download uu tpks dmn yah          1
8    Sridiana va berlianidris dr fadh programnya b...          1
9    Speedtrap dari sini ada benang merahnya baran...          1
10  dukung banget another next pit stop after UU T...          1
11  Yang ini harus segera naik UU TPKS Kelahiranny...          1
12             infotwitwor Lucifer ga tau apa UU TPKS          0
13   Flying bird bread selling Adinda fitri Politi...          1
14  Pakar Hukum Unair Optimis UU TPKS Jadi Langkah...          1
15  Aktivis Perempuan Kelompok Cipayung Maluku Sor...          1
16   DavidWijaya MardaniAliSera Orang PKS kan oran...          0
17   UNSfess Nder itu bisa dilaporin ke pihak berw...          1
18  Waspada Liberalisasi Seks Generasi UU TPKS Per...          0
19  Cah UU TPKS tentang kekerasan seksual itu kalo...          1

In [8]:
'''https://swatimeena989.medium.com/beginners-guide-for-preprocessing-text-data-f3156bec85ca
def cleansing(data):
    data=re.sub("(.)\\1{2,}", "\\1", 'string_inp')
    return data
# jalankan cleansing data
review = []
for index, row in df.iterrows():
    review.append(cleansing(row["Tweet"]))
    
df["Tweet"] = review
df.head()'''
# remove consecutive duplicates from string
def remove_consec_duplicates(s):
    new_s = ""
    prev = ""
    for c in s:
        if len(new_s) == 0:
            new_s += c
            prev = c
        if c == prev:
            continue
        else:
            new_s += c
            prev = c
    return new_s
review = []
for index, row in df.iterrows():
    review.append(remove_consec_duplicates(row["Tweet"]))
    
df["Tweet"] = review
df.head()

                                               Tweet  Sentiment
0   Adin Harusnya adik juga mengapresiasi disahka...          0
1  Siapa yang bangun tidur masih terharu sekarang...          1
2  Stil astonished and thriled about the Indonesi...          1
3             nyambeksyariah harus lawan pake U TPKS          1
4  Saksikan Perjuangan DPR RI bersama Rakyat untu...          1

In [9]:
df.to_csv(r'C:/Users/mirah/OneDrive/TA/aftercleansing.csv', index=False)

In [10]:
def cleansing(data):
    # lower text
    data = data.lower()
    return data

# jalankan cleansing data
review = []
for index, row in df.iterrows():
    review.append(cleansing(row["Tweet"]))
    
df["Tweet"] = review
df.head()

                                               Tweet  Sentiment
0   adin harusnya adik juga mengapresiasi disahka...          0
1  siapa yang bangun tidur masih terharu sekarang...          1
2  stil astonished and thriled about the indonesi...          1
3             nyambeksyariah harus lawan pake u tpks          1
4  saksikan perjuangan dpr ri bersama rakyat untu...          1

In [11]:
df.to_csv(r'C:/Users/mirah/OneDrive/TA/casefolding.csv', index=False)

In [12]:
# import library
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
 
factory = StopWordRemoverFactory()
stopword = factory.create_stop_word_remover()
 
# Contoh
kalimat = 'Dengan Menggunakan Python dan Library Sastrawi saya dapat melakukan proses Stopword Removal'
stop = stopword.remove(kalimat)
#print(stop)

# lakukan pada data kita

review = []
for index, row in df.iterrows():
    review.append(stopword.remove(row["Tweet"]))
    
df["Tweet"] = review
df.head()

                                               Tweet  Sentiment
0   adin harusnya adik mengapresiasi disahkanya u...          0
1  siapa bangun tidur terharu sekarang nyebut u t...          1
2  stil astonished and thriled about the indonesi...          1
3                   nyambeksyariah lawan pake u tpks          1
4  saksikan perjuangan dpr ri bersama rakyat u tp...          1

In [13]:
df.to_csv(r'C:/Users/mirah/OneDrive/TA/stopword.csv', index=False)

In [14]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
factory = StopWordRemoverFactory()
stopwords = factory.get_stop_words()
print(stopwords)

['yang', 'untuk', 'pada', 'ke', 'para', 'namun', 'menurut', 'antara', 'dia', 'dua', 'ia', 'seperti', 'jika', 'jika', 'sehingga', 'kembali', 'dan', 'tidak', 'ini', 'karena', 'kepada', 'oleh', 'saat', 'harus', 'sementara', 'setelah', 'belum', 'kami', 'sekitar', 'bagi', 'serta', 'di', 'dari', 'telah', 'sebagai', 'masih', 'hal', 'ketika', 'adalah', 'itu', 'dalam', 'bisa', 'bahwa', 'atau', 'hanya', 'kita', 'dengan', 'akan', 'juga', 'ada', 'mereka', 'sudah', 'saya', 'terhadap', 'secara', 'agar', 'lain', 'anda', 'begitu', 'mengapa', 'kenapa', 'yaitu', 'yakni', 'daripada', 'itulah', 'lagi', 'maka', 'tentang', 'demi', 'dimana', 'kemana', 'pula', 'sambil', 'sebelum', 'sesudah', 'supaya', 'guna', 'kah', 'pun', 'sampai', 'sedangkan', 'selagi', 'sementara', 'tetapi', 'apakah', 'kecuali', 'sebab', 'selain', 'seolah', 'seraya', 'seterusnya', 'tanpa', 'agak', 'boleh', 'dapat', 'dsb', 'dst', 'dll', 'dahulu', 'dulunya', 'anu', 'demikian', 'tapi', 'ingin', 'juga', 'nggak', 'mari', 'nanti', 'melainkan', 'oh', 'ok', 'seharusnya', 'sebetulnya', 'setiap', 'setidaknya', 'sesuatu', 'pasti', 'saja', 'toh', 'ya', 'walau', 'tolong', 'tentu', 'amat', 'apalagi', 'bagaimanapun']

In [16]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory, StopWordRemover, ArrayDictionary

s = 'Aku pernah mendengar Aisya bercerita bahwa sebenarnya ia tidak terlalu senang dengan kabar perjodohan yang diatur oleh orang tuanya.'

# Ambil Stopword bawaan
stop_factory = StopWordRemoverFactory().get_stop_words()
more_stopword = ["apa", "tau","mjd", "sbg", "dgn", "dg", "loh", "lho", "the", "0o", "0s", "3a", "3b", "3d", "6b", "6o", "a", "a1", "a2", "a3", "a4", "ab", "able", "about", "above", "abst", "ac", "accordance", "according", "accordingly", "across", "act", "actually", "ad", "added", "adj", "ae", "af", "affected", "affecting", "affects", "after", "afterwards", "ag", "again", "against", "ah", "ain", "ain't", "aj", "al", "all", "allow", "allows", "almost", "alone", "along", "already", "also", "although", "always", "am", "among", "amongst", "amoungst", "amount", "an", "and", "announce", "another", "any", "anybody", "anyhow", "anymore", "anyone", "anything", "anyway", "anyways", "anywhere", "ao", "ap", "apart", "apparently", "appear", "appreciate", "appropriate", "approximately", "ar", "are", "aren", "arent", "aren't", "arise", "around", "as", "a's", "aside", "ask", "asking", "associated", "at", "au", "auth", "av", "available", "aw", "away", "awfully", "ax", "ay", "az", "b", "b1", "b2", "b3", "ba", "back", "bc", "bd", "be", "became", "because", "become", "becomes", "becoming", "been", "before", "beforehand", "begin", "beginning", "beginnings", "begins", "behind", "being", "believe", "below", "beside", "besides", "best", "better", "between", "beyond", "bi", "bill", "biol", "bj", "bk", "bl", "bn", "both", "bottom", "bp", "br", "brief", "briefly", "bs", "bt", "bu", "but", "bx", "by", "c", "c1", "c2", "c3", "ca", "call", "came", "can", "cannot", "cant", "can't", "cause", "causes", "cc", "cd", "ce", "certain", "certainly", "cf", "cg", "ch", "changes", "ci", "cit", "cj", "cl", "clearly", "cm", "c'mon", "cn", "co", "com", "come", "comes", "con", "concerning", "consequently", "consider", "considering", "contain", "containing", "contains", "corresponding", "could", "couldn", "couldnt", "couldn't", "course", "cp", "cq", "cr", "cry", "cs", "c's", "ct", "cu", "currently", "cv", "cx", "cy", "cz", "d", "d2", "da", "date", "dc", "dd", "de", "definitely", "describe", "described", "despite", "detail", "df", "di", "did", "didn", "didn't", "different", "dj", "dk", "dl", "do", "does", "doesn", "doesn't", "doing", "don", "done", "don't", "down", "downwards", "dp", "dr", "ds", "dt", "du", "due", "during", "dx", "dy", "e", "e2", "e3", "ea", "each", "ec", "ed", "edu", "ee", "ef", "effect", "eg", "ei", "eight", "eighty", "either", "ej", "el", "eleven", "else", "elsewhere", "em", "empty", "en", "end", "ending", "enough", "entirely", "eo", "ep", "eq", "er", "es", "especially", "est", "et", "et-al", "etc", "eu", "ev", "even", "ever", "every", "everybody", "everyone", "everything", "everywhere", "ex", "exactly", "example", "except", "ey", "f", "f2", "fa", "far", "fc", "few", "ff", "fi", "fifteen", "fifth", "fify", "fill", "find", "fire", "first", "five", "fix", "fj", "fl", "fn", "fo", "followed", "following", "follows", "for", "former", "formerly", "forth", "forty", "found", "four", "fr", "from", "front", "fs", "ft", "fu", "full", "further", "furthermore", "fy", "g", "ga", "gave", "ge", "get", "gets", "getting", "gi", "give", "given", "gives", "giving", "gj", "gl", "go", "goes", "going", "gone", "got", "gotten", "gr", "greetings", "gs", "gy", "h", "h2", "h3", "had", "hadn", "hadn't", "happens", "hardly", "has", "hasn", "hasnt", "hasn't", "have", "haven", "haven't", "having", "he", "hed", "he'd", "he'll", "hello", "help", "hence", "her", "here", "hereafter", "hereby", "herein", "heres", "here's", "hereupon", "hers", "herself", "hes", "he's", "hh", "hi", "hid", "him", "himself", "his", "hither", "hj", "ho", "home", "hopefully", "how", "howbeit", "however", "how's", "hr", "hs", "http", "hu", "hundred", "hy", "i", "i2", "i3", "i4", "i6", "i7", "i8", "ia", "ib", "ibid", "ic", "id", "i'd", "ie", "if", "ig", "ignored", "ih", "ii", "ij", "il", "i'll", "im", "i'm", "immediate", "immediately", "importance", "important", "in", "inasmuch", "inc", "indeed", "index", "indicate", "indicated", "indicates", "information", "inner", "insofar", "instead", "interest", "into", "invention", "inward", "io", "ip", "iq", "ir", "is", "isn", "isn't", "it", "itd", "it'd", "it'll", "its", "it's", "itself", "iv", "i've", "ix", "iy", "iz", "j", "jj", "jr", "js", "jt", "ju", "just", "k", "ke", "keep", "keeps", "kept", "kg", "kj", "km", "know", "known", "knows", "ko", "l", "l2", "la", "largely", "last", "lately", "later", "latter", "latterly", "lb", "lc", "le", "least", "les", "less", "lest", "let", "lets", "let's", "lf", "like", "liked", "likely", "line", "little", "lj", "ll", "ll", "ln", "lo", "look", "looking", "looks", "los", "lr", "ls", "lt", "ltd", "m", "m2", "ma", "made", "mainly", "make", "makes", "many", "may", "maybe", "me", "mean", "means", "meantime", "meanwhile", "merely", "mg", "might", "mightn", "mightn't", "mill", "million", "mine", "miss", "ml", "mn", "mo", "more", "moreover", "most", "mostly", "move", "mr", "mrs", "ms", "mt", "mu", "much", "mug", "must", "mustn", "mustn't", "my", "myself", "n", "n2", "na", "name", "namely", "nay", "nc", "nd", "ne", "near", "nearly", "necessarily", "necessary", "need", "needn", "needn't", "needs", "neither", "never", "nevertheless", "new", "next", "ng", "ni", "nine", "ninety", "nj", "nl", "nn", "no", "nobody", "non", "none", "nonetheless", "noone", "nor", "normally", "nos", "not", "noted", "nothing", "novel", "now", "nowhere", "nr", "ns", "nt", "ny", "o", "oa", "ob", "obtain", "obtained", "obviously", "oc", "od", "of", "off", "often", "og", "oh", "oi", "oj", "ok", "okay", "ol", "old", "om", "omitted", "on", "once", "one", "ones", "only", "onto", "oo", "op", "oq", "or", "ord", "os", "ot", "other", "others", "otherwise", "ou", "ought", "our", "ours", "ourselves", "out", "outside", "over", "overall", "ow", "owing", "own", "ox", "oz", "p", "p1", "p2", "p3", "page", "pagecount", "pages", "par", "part", "particular", "particularly", "pas", "past", "pc", "pd", "pe", "per", "perhaps", "pf", "ph", "pi", "pj", "pk", "pl", "placed", "please", "plus", "pm", "pn", "po", "poorly", "possible", "possibly", "potentially", "pp", "pq", "pr", "predominantly", "present", "presumably", "previously", "primarily", "probably", "promptly", "proud", "provides", "ps", "pt", "pu", "put", "py", "q", "qj", "qu", "que", "quickly", "quite", "qv", "r", "r2", "ra", "ran", "rather", "rc", "rd", "re", "readily", "really", "reasonably", "recent", "recently", "ref", "refs", "regarding", "regardless", "regards", "related", "relatively", "research", "research-articl", "respectively", "resulted", "resulting", "results", "rf", "rh", "ri", "right", "rj", "rl", "rm", "rn", "ro", "rq", "rr", "rs", "rt", "ru", "run", "rv", "ry", "s", "s2", "sa", "said", "same", "saw", "say", "saying", "says", "sc", "sd", "se", "sec", "second", "secondly", "section", "see", "seeing", "seem", "seemed", "seeming", "seems", "seen", "self", "selves", "sensible", "sent", "serious", "seriously", "seven", "several", "sf", "shall", "shan", "shan't", "she", "shed", "she'd", "she'll", "shes", "she's", "should", "shouldn", "shouldn't", "should've", "show", "showed", "shown", "showns", "shows", "si", "side", "significant", "significantly", "similar", "similarly", "since", "sincere", "six", "sixty", "sj", "sl", "slightly", "sm", "sn", "so", "some", "somebody", "somehow", "someone", "somethan", "something", "sometime", "sometimes", "somewhat", "somewhere", "soon", "sorry", "sp", "specifically", "specified", "specify", "specifying", "sq", "sr", "ss", "st", "still", "stop", "strongly", "sub", "substantially", "successfully", "such", "sufficiently", "suggest", "sup", "sure", "sy", "system", "sz", "t", "t1", "t2", "t3", "take", "taken", "taking", "tb", "tc", "td", "te", "tell", "ten", "tends", "tf", "th", "than", "thank", "thanks", "thanx", "that", "that'll", "thats", "that's", "that've", "the", "their", "theirs", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "thered", "therefore", "therein", "there'll", "thereof", "therere", "theres", "there's", "thereto", "thereupon", "there've", "these", "they", "theyd", "they'd", "they'll", "theyre", "they're", "they've", "thickv", "thin", "think", "third", "this", "thorough", "thoroughly", "those", "thou", "though", "thoughh", "thousand", "three", "throug", "through", "throughout", "thru", "thus", "ti", "til", "tip", "tj", "tl", "tm", "tn", "to", "together", "too", "took", "top", "toward", "towards", "tp", "tq", "tr", "tried", "tries", "truly", "try", "trying", "ts", "t's", "tt", "tv", "twelve", "twenty", "twice", "two", "tx", "u", "u201d", "ue", "ui", "uj", "uk", "um", "un", "under", "unfortunately", "unless", "unlike", "unlikely", "until", "unto", "uo", "up", "upon", "ups", "ur", "us", "use", "used", "useful", "usefully", "usefulness", "uses", "using", "usually", "ut", "v", "va", "value", "various", "vd", "ve", "ve", "very", "via", "viz", "vj", "vo", "vol", "vols", "volumtype", "vq", "vs", "vt", "vu", "w", "wa", "want", "wants", "was", "wasn", "wasnt", "wasn't", "way", "we", "wed", "we'd", "welcome", "well", "we'll", "well-b", "went", "were", "we're", "weren", "werent", "weren't", "we've", "what", "whatever", "what'll", "whats", "what's", "when", "whence", "whenever", "when's", "where", "whereafter", "whereas", "whereby", "wherein", "wheres", "where's", "whereupon", "wherever", "whether", "which", "while", "whim", "whither", "who", "whod", "whoever", "whole", "who'll", "whom", "whomever", "whos", "who's", "whose", "why", "why's", "wi", "widely", "will", "willing", "wish", "with", "within", "without", "wo", "won", "wonder", "wont", "won't", "words", "world", "would", "wouldn", "wouldnt", "wouldn't", "www", "x", "x1", "x2", "x3", "xf", "xi", "xj", "xk", "xl", "xn", "xo", "xs", "xt", "xv", "xx", "y", "y2", "yes", "yet", "yj", "yl", "you", "youd", "you'd", "you'll", "your", "youre", "you're", "yours", "yourself", "yourselves", "you've", "yr", "ys", "yt", "z", "zero", "zi", "zz"]

# Merge stopword
data = stop_factory + more_stopword

dictionary = ArrayDictionary(data)
strr = StopWordRemover(dictionary)

review = []
for index, row in df.iterrows():
    review.append(stopword.remove(row["Tweet"]))
    
df["Tweet"] = review
df[:30]

                                                Tweet  Sentiment
0    adin harusnya adik mengapresiasi disahkanya u...          0
1   siapa bangun tidur terharu sekarang nyebut u t...          1
2   stil astonished and thriled about the indonesi...          1
3                    nyambeksyariah lawan pake u tpks          1
4   saksikan perjuangan dpr ri bersama rakyat u tp...          1
5      kompastv u tpks berlaku hukum seberat beratnya          1
6   aktivis perempuan kelompok cipayung maluku sor...          1
7                         mau download u tpks dmn yah          1
8    sridiana va berlianidris dr fadh programnya b...          1
9    spedtrap sini benang merahnya barangkali pkse...          1
10  dukung banget another next pit stop after u tp...          1
11  segera naik u tpks kelahiranya disambut gembir...          1
12              infotwitwor lucifer ga tau apa u tpks          0
13   flying bird bread seling adinda fitri politik...          1
14  pakar hukum unair optimis u tpks jadi langkah ...          1
15  aktivis perempuan kelompok cipayung maluku sor...          1
16   davidwijaya mardanialisera orang pks kan oran...          0
17   unsfes nder dilaporin pihak berwajib kan u tp...          1
18  waspada liberalisasi seks generasi u tpks perl...          0
19       cah u tpks kekerasan seksual kalo lapor dmn           1
20             euforia u tpks membahana media sosial           1
21  yeay bulan benar banyak hadiah perempuan indon...          1
22  ru tpks resmi disahkan menjadi undang undang t...          1
23   live akhbar forum tokoh partai surabaya meres...          1
24  finalis puteri indonesia perwakilan dki jakart...          1
25                 ranikancana u tpks mdhan bs dipake          1
26  puan meminta seluruh masyarakat ikut mengawal ...          1
27  puan mengajak seluruh masyarakat berdoa bersam...          1
28  puan berpesan u tpks segera diterjemahkan menj...          1
29  puan menyampaikan terima kasih pemerintah atas...          1

In [ ]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# contoh
kalimat = 'Liverpool adalah klub hebat tidak seperti si itu WkwkWK'
katadasar = stemmer.stem(kalimat)
 
#print(katadasar)

# implementasi pada data kita
review = []
for index, row in df.iterrows():
    review.append(stemmer.stem(row["Tweet"]))
    
df["Tweet"] = review
df.head()

In [25]:
df.to_csv(r'C:/Users/mirah/OneDrive/TA/stemming.csv', index=False)

In [26]:
import nltk
from nltk.tokenize import word_tokenize
def cleansing(data):
    tokenizer=word_tokenize()
    return data
review = []
for index, row in df.iterrows():
    review.append(word_tokenize(row["Tweet"]))
    
df["Tweet"] = review
df.head()

                                               Tweet  Sentiment
0  [adin, harus, adik, apresiasi, disahkanya, utp...          0
1  [siapa, bangun, tidur, haru, sekarang, nyebut,...          1
2  [stil, astonished, thriled, indonesian, parlia...          1
3                [nyambeksyariah, lawan, pake, tpks]          1
4  [saksi, juang, dpr, sama, rakyat, tpks, sama, ...          1

In [27]:
df["Tweet"] = df["Tweet"].astype('str')

In [28]:
df

                                                  Tweet  Sentiment
0     ['adin', 'harus', 'adik', 'apresiasi', 'disahk...          0
1     ['siapa', 'bangun', 'tidur', 'haru', 'sekarang...          1
2     ['stil', 'astonished', 'thriled', 'indonesian'...          1
3           ['nyambeksyariah', 'lawan', 'pake', 'tpks']          1
4     ['saksi', 'juang', 'dpr', 'sama', 'rakyat', 't...          1
...                                                 ...        ...
5481  ['ketua', 'dpr', 'puan', 'maharani', 'dapat', ...          1
5482  ['tindak', 'pidana', 'keras', 'seksual', 'tpks...          1
5483  ['sat', 'kesah', 'puan', 'menang', 'undang', '...          1
5484  ['salah', 'satu', 'poin', 'tolak', 'pks', 'tpk...          0
5485  ['hasil', 'puan', 'tak', 'ragu', 'mampu', 'nya...          1

[5486 rows x 2 columns]

In [29]:
df.to_csv(r'C:/Users/mirah/OneDrive/TA/tokenizing.csv', index=False)

In [3]:
df=pd.read_csv("C:/Users/mirah/OneDrive/TA/tokenizing.csv")

In [4]:
df

                                                  Tweet  Sentiment
0     ['adin', 'harus', 'adik', 'apresiasi', 'disahk...          0
1     ['siapa', 'bangun', 'tidur', 'haru', 'sekarang...          1
2     ['stil', 'astonished', 'thriled', 'indonesian'...          1
3           ['nyambeksyariah', 'lawan', 'pake', 'tpks']          1
4     ['saksi', 'juang', 'dpr', 'sama', 'rakyat', 't...          1
...                                                 ...        ...
5481  ['ketua', 'dpr', 'puan', 'maharani', 'dapat', ...          1
5482  ['tindak', 'pidana', 'keras', 'seksual', 'tpks...          1
5483  ['sat', 'kesah', 'puan', 'menang', 'undang', '...          1
5484  ['salah', 'satu', 'poin', 'tolak', 'pks', 'tpk...          0
5485  ['hasil', 'puan', 'tak', 'ragu', 'mampu', 'nya...          1

[5486 rows x 2 columns]

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['Tweet'], df['Sentiment'], 
                                                    test_size=0.2, stratify=df['Sentiment'], random_state=None)

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

In [6]:
# implementasi pada dokumen kita
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

#print(X_train.shape)
#print(X_test.shape)
print(X_train)

  (0, 4051)	0.4260730014833264
  (0, 5458)	0.18606330967071671
  (0, 4600)	0.7000606332315316
  (0, 5326)	0.5419938671247446
  (1, 3108)	0.30225102783426266
  (1, 2108)	0.39469535424064
  (1, 5023)	0.39469535424064
  (1, 1542)	0.5056819243388152
  (1, 2791)	0.41227357277445104
  (1, 2786)	0.40537746443193606
  (1, 5458)	0.08402901150412194
  (2, 3495)	0.30390911364615963
  (2, 4583)	0.4319686283391864
  (2, 5086)	0.27849314675643083
  (2, 1565)	0.29336053430649267
  (2, 2137)	0.09542346071656595
  (2, 4596)	0.07970870622049464
  (2, 5519)	0.16744484491648334
  (2, 1304)	0.11850927421920138
  (2, 3892)	0.17354342631943814
  (2, 4393)	0.17960544161779848
  (2, 303)	0.17682927919751565
  (2, 1907)	0.19286081180621215
  (2, 4753)	0.09476573026693488
  (2, 2491)	0.0938404455627029
  :	:
  (4386, 1826)	0.2514016111638957
  (4386, 4737)	0.3010980952422346
  (4386, 2502)	0.19698177857440896
  (4386, 1835)	0.2702656473984925
  (4386, 5677)	0.13507329028278722
  (4386, 3841)	0.14737764335653877
  (4386, 4055)	0.14749179824609387
  (4386, 4312)	0.127659576556243
  (4386, 2137)	0.15923303392692098
  (4386, 4051)	0.16272224344421132
  (4387, 4141)	0.33493561493968893
  (4387, 5700)	0.358772622819975
  (4387, 2610)	0.358772622819975
  (4387, 1112)	0.33129713115261317
  (4387, 5746)	0.2835816307565966
  (4387, 2729)	0.358772622819975
  (4387, 3872)	0.22833366125681756
  (4387, 5845)	0.23939714151124852
  (4387, 2502)	0.15806014896909343
  (4387, 2528)	0.22113586122972112
  (4387, 2033)	0.16315305027959023
  (4387, 2356)	0.2270583411611114
  (4387, 2240)	0.1722875307373096
  (4387, 4051)	0.13056995538123622
  (4387, 5458)	0.057019050625626955

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus=["siapa bangun tidur haru sekarang nyebut tpks bukan aku", "cah tpks keras seksual kalo lapor dmn", "tpks resmi sah kenal yuk sama dana bantu korban"]
vectorizer=TfidfVectorizer()
hasil=vectorizer.fit_transform(corpus)
print(hasil)

  (0, 0)	0.3460885720028406
  (0, 3)	0.3460885720028406
  (0, 21)	0.20440548581747317
  (0, 13)	0.3460885720028406
  (0, 17)	0.3460885720028406
  (0, 7)	0.3460885720028406
  (0, 20)	0.3460885720028406
  (0, 1)	0.3460885720028406
  (0, 19)	0.3460885720028406
  (1, 6)	0.3968745408286403
  (1, 12)	0.3968745408286403
  (1, 8)	0.3968745408286403
  (1, 18)	0.3968745408286403
  (1, 10)	0.3968745408286403
  (1, 4)	0.3968745408286403
  (1, 21)	0.23440049712476196
  (2, 11)	0.3460885720028406
  (2, 2)	0.3460885720028406
  (2, 5)	0.3460885720028406
  (2, 16)	0.3460885720028406
  (2, 22)	0.3460885720028406
  (2, 9)	0.3460885720028406
  (2, 15)	0.3460885720028406
  (2, 14)	0.3460885720028406
  (2, 21)	0.20440548581747317

In [4]:
vectorizer.get_feature_names_out()

array(['aku', 'bangun', 'bantu', 'bukan', 'cah', 'dana', 'dmn', 'haru',
       'kalo', 'kenal', 'keras', 'korban', 'lapor', 'nyebut', 'resmi',
       'sah', 'sama', 'sekarang', 'seksual', 'siapa', 'tidur', 'tpks',
       'yuk'], dtype=object)

In [5]:
hasil.todense()

matrix([[0.34608857, 0.34608857, 0.        , 0.34608857, 0.        ,
         0.        , 0.        , 0.34608857, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.34608857, 0.        ,
         0.        , 0.        , 0.34608857, 0.        , 0.34608857,
         0.34608857, 0.20440549, 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.39687454,
         0.        , 0.39687454, 0.        , 0.39687454, 0.        ,
         0.39687454, 0.        , 0.39687454, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.39687454, 0.        ,
         0.        , 0.2344005 , 0.        ],
        [0.        , 0.        , 0.34608857, 0.        , 0.        ,
         0.34608857, 0.        , 0.        , 0.        , 0.34608857,
         0.        , 0.34608857, 0.        , 0.        , 0.34608857,
         0.34608857, 0.34608857, 0.        , 0.        , 0.        ,
         0.        , 0.20440549, 0.34608857]])

In [6]:
bobot=pd.DataFrame(hasil.todense().T, index=vectorizer.get_feature_names_out(), columns=[f'D{i+1}' for i in range (len(corpus))])
bobot

                D1        D2        D3
aku       0.346089  0.000000  0.000000
bangun    0.346089  0.000000  0.000000
bantu     0.000000  0.000000  0.346089
bukan     0.346089  0.000000  0.000000
cah       0.000000  0.396875  0.000000
dana      0.000000  0.000000  0.346089
dmn       0.000000  0.396875  0.000000
haru      0.346089  0.000000  0.000000
kalo      0.000000  0.396875  0.000000
kenal     0.000000  0.000000  0.346089
keras     0.000000  0.396875  0.000000
korban    0.000000  0.000000  0.346089
lapor     0.000000  0.396875  0.000000
nyebut    0.346089  0.000000  0.000000
resmi     0.000000  0.000000  0.346089
sah       0.000000  0.000000  0.346089
sama      0.000000  0.000000  0.346089
sekarang  0.346089  0.000000  0.000000
seksual   0.000000  0.396875  0.000000
siapa     0.346089  0.000000  0.000000
tidur     0.346089  0.000000  0.000000
tpks      0.204405  0.234400  0.204405
yuk       0.000000  0.000000  0.346089

In [20]:
df[:30]

                                                Tweet  Sentiment
0   ['adin', 'harus', 'adik', 'apresiasi', 'disahk...          0
1   ['siapa', 'bangun', 'tidur', 'haru', 'sekarang...          1
2   ['stil', 'astonished', 'thriled', 'indonesian'...          1
3         ['nyambeksyariah', 'lawan', 'pake', 'tpks']          1
4   ['saksi', 'juang', 'dpr', 'sama', 'rakyat', 't...          1
5   ['kompastv', 'tpks', 'laku', 'hukum', 'berat',...          1
6   ['aktivis', 'perempuan', 'kelompok', 'cipayung...          1
7           ['mau', 'download', 'tpks', 'dmn', 'yah']          1
8   ['sridiana', 'berlianidris', 'fadh', 'program'...          1
9   ['spedtrap', 'sini', 'benang', 'merah', 'baran...          1
10  ['dukung', 'banget', 'pit', 'tpks', 'legalizat...          1
11  ['segera', 'naik', 'tpks', 'kelahiranya', 'sam...          1
12            ['infotwitwor', 'lucifer', 'u', 'tpks']          0
13  ['flying', 'bird', 'bread', 'seling', 'adinda'...          1
14  ['pakar', 'hukum', 'unair', 'optimis', 'tpks',...          1
15  ['aktivis', 'perempuan', 'kelompok', 'cipayung...          1
16  ['davidwijaya', 'mardanialisera', 'orang', 'pk...          0
17  ['unsfes', 'nder', 'dilaporin', 'pihak', 'waji...          1
18  ['waspada', 'liberalisasi', 'seks', 'generasi'...          0
19  ['cah', 'tpks', 'keras', 'seksual', 'kalo', 'l...          1
20   ['euforia', 'tpks', 'bahana', 'media', 'sosial']          1
21  ['yeay', 'bulan', 'benar', 'banyak', 'hadiah',...          1
22  ['tpks', 'resmi', 'sah', 'jadi', 'undang', 'un...          1
23  ['live', 'akhbar', 'forum', 'tokoh', 'partai',...          1
24  ['final', 'puter', 'indonesia', 'wakil', 'dki'...          1
25         ['ranikancana', 'tpks', 'mdhan', 'dipake']          1
26  ['puan', 'minta', 'seluruh', 'masyarakat', 'ik...          1
27  ['puan', 'ajak', 'seluruh', 'masyarakat', 'doa...          1
28  ['puan', 'pesan', 'tpks', 'segera', 'terjemah'...          1
29  ['puan', 'sampai', 'terima', 'kasih', 'perinta...          1

In [41]:
from sklearn import svm
from sklearn.model_selection import cross_val_score

clf = svm.SVC(kernel="linear")

svmlinear=cross_val_score(clf, X_train, y_train, cv=10)
svmlinear

array([0.93394077, 0.92938497, 0.93166287, 0.92482916, 0.92938497,
       0.92482916, 0.92938497, 0.93166287, 0.93150685, 0.93150685])

In [36]:
from sklearn import svm
from sklearn.model_selection import cross_val_score

clf = svm.SVC(kernel="linear")

cross_val_score(clf, X_train, y_train, cv=10)

'''# lakukan prediksi pada data test
clf.fit(X_train,y_train)
predict = clf.predict(X_test)

# import library evaluation
from sklearn.metrics import f1_score, recall_score, precision_score, confusion_matrix, accuracy_score

# f1_score
print(f1_score(y_test, predict, pos_label=1))

# accuracy score
print("accuracy score hasil prediksi adalah: ")
print(accuracy_score(y_test, predict))

# precision score
print("precision score hasil prediksi adalah: ")
print(precision_score(y_test, predict, pos_label=1))

# recall score
print("recall score hasil prediksi adalah: ")
print(recall_score(y_test, predict, pos_label=1))
# f1 score
print("f1 score hasil prediksi adalah: ")
print(f1_score(y_test, predict, pos_label=1))
# confusion matrix
print(confusion_matrix(y_test, predict))'''

'# lakukan prediksi pada data test\nclf.fit(X_train,y_train)\npredict = clf.predict(X_test)\n\n# import library evaluation\nfrom sklearn.metrics import f1_score, recall_score, precision_score, confusion_matrix, accuracy_score\n\n# f1_score\nprint(f1_score(y_test, predict, pos_label=1))\n\n# accuracy score\nprint("accuracy score hasil prediksi adalah: ")\nprint(accuracy_score(y_test, predict))\n\n# precision score\nprint("precision score hasil prediksi adalah: ")\nprint(precision_score(y_test, predict, pos_label=1))\n\n# recall score\nprint("recall score hasil prediksi adalah: ")\nprint(recall_score(y_test, predict, pos_label=1))\n# f1 score\nprint("f1 score hasil prediksi adalah: ")\nprint(f1_score(y_test, predict, pos_label=1))\n# confusion matrix\nprint(confusion_matrix(y_test, predict))'

In [22]:
#https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html
clf = svm.SVC(kernel="poly")

#cross_val_score(clf, X_train, y_train, cv=10)

# lakukan prediksi pada data test
clf.fit(X_train,y_train)
predict = clf.predict(X_test)

# import library evaluation
from sklearn.metrics import f1_score, recall_score, precision_score, confusion_matrix, accuracy_score

# f1_score
print(f1_score(y_test, predict, pos_label=1))

# accuracy score
print("accuracy score hasil prediksi adalah: ")
print(accuracy_score(y_test, predict))

# precision score
print("precision score hasil prediksi adalah: ")
print(precision_score(y_test, predict, pos_label=1))

# recall score
print("recall score hasil prediksi adalah: ")
print(recall_score(y_test, predict, pos_label=1))
# f1 score
print("f1 score hasil prediksi adalah: ")
print(f1_score(y_test, predict, pos_label=1))
# confusion matrix
print(confusion_matrix(y_test, predict))

0.9626830420406235
accuracy score hasil prediksi adalah:
0.9280510018214936
precision score hasil prediksi adalah:
0.9280510018214936
recall score hasil prediksi adalah:
1.0
f1 score hasil prediksi adalah:
0.9626830420406235
[[   0   79]
 [   0 1019]]

In [23]:
clf = svm.SVC(kernel="rbf")

#cross_val_score(clf, X_train, y_train, cv=10)

# lakukan prediksi pada data test
clf.fit(X_train,y_train)
predict = clf.predict(X_test)

# import library evaluation
from sklearn.metrics import f1_score, recall_score, precision_score, confusion_matrix, accuracy_score

# f1_score
print(f1_score(y_test, predict, pos_label=1))

# accuracy score
print("accuracy score hasil prediksi adalah: ")
print(accuracy_score(y_test, predict))

# precision score
print("precision score hasil prediksi adalah: ")
print(precision_score(y_test, predict, pos_label=1))

# recall score
print("recall score hasil prediksi adalah: ")
print(recall_score(y_test, predict, pos_label=1))
# f1 score
print("f1 score hasil prediksi adalah: ")
print(f1_score(y_test, predict, pos_label=1))
# confusion matrix
print(confusion_matrix(y_test, predict))

0.9626830420406235
accuracy score hasil prediksi adalah:
0.9280510018214936
precision score hasil prediksi adalah:
0.9280510018214936
recall score hasil prediksi adalah:
1.0
f1 score hasil prediksi adalah:
0.9626830420406235
[[   0   79]
 [   0 1019]]

In [24]:
clf = svm.SVC(kernel="sigmoid")

#cross_val_score(clf, X_train, y_train, cv=10)

# lakukan prediksi pada data test
clf.fit(X_train,y_train)
predict = clf.predict(X_test)

# import library evaluation
from sklearn.metrics import f1_score, recall_score, precision_score, confusion_matrix, accuracy_score

# f1_score
print(f1_score(y_test, predict, pos_label=1))

# accuracy score
print("accuracy score hasil prediksi adalah: ")
print(accuracy_score(y_test, predict))

# precision score
print("precision score hasil prediksi adalah: ")
print(precision_score(y_test, predict, pos_label=1))

# recall score
print("recall score hasil prediksi adalah: ")
print(recall_score(y_test, predict, pos_label=1))
# f1 score
print("f1 score hasil prediksi adalah: ")
print(f1_score(y_test, predict, pos_label=1))
# confusion matrix
print(confusion_matrix(y_test, predict))

0.9644043663977219
accuracy score hasil prediksi adalah:
0.9316939890710383
precision score hasil prediksi adalah:
0.9338235294117647
recall score hasil prediksi adalah:
0.9970559371933267
f1 score hasil prediksi adalah:
0.9644043663977219
[[   7   72]
 [   3 1016]]

In [50]:
#NAIVE BAYES
#https://stackoverflow.com/questions/52269187/facing-valueerror-target-is-multiclass-but-average-binary

from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

nb= MultinomialNB()
nb.fit(X_train, y_train)

score = nb.score(X_test, y_test)
print("score of Naive Bayes algo is :" , score)

y_pred = nb.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print("Accuracy Score : ",accuracy_score(y_test,y_pred,))
print("Precision Score : ",precision_score(y_test,y_pred,pos_label=1))
print("Recall Score :" , recall_score(y_test, y_pred, pos_label=1) )
print("F1-Score :" , f1_score(y_test, y_pred, pos_label=1) )

score of Naive Bayes algo is : 0.9325539568345323
[[   0   75]
 [   0 1037]]
Accuracy Score :  0.9325539568345323
Precision Score :  0.9325539568345323
Recall Score : 1.0
F1-Score : 0.9651000465332712